
.container {
    display: flow;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

.button {
    border-radius: 15px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
}

p{
    letter-spacing: 0.1rem;
    font-size: larger;
}