<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Become a developer</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>

    <div class="container">
        <p>Enter text here</p>
        <div  class="container">
        <form>
            <textarea id="textArea" name="enteredText" rows="25" cols="50"></textarea>
            <br>
            <input type="submit" value="Get the answer" onclick="getResult()" class="button" >
        </form>
        </div>
    </div>
</body>

<script src="/javaScript/code.js"></script>

</html>